<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>

    <a href="/items/new">add</a>
    <% for(let i=0; i<allItems.length; i++) { %>
        <div class="itemTile">
            <div>
                <a href="/items/<%= allItems[i]._id %>">
                    <img src="<%= allItems[i].imgUrl %>" alt="" style="width:200px; height:250px">
                </a>
            </div>
            <div>
                <a class="itemName" href="/items/<%= allItems[i]._id %>"><%= allItems[i].name %></a>
                <div class="price"><%= allItems[i].price %></div>
            </div>
        </div>
    <% } %>
</body>
</html>